In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_table("CDNOW.txt",sep="\s+",names=["Person","date","number","price"])

In [3]:
data.head(5)

   Person      date  number  price
0       1  19970101       1  11.77
1       2  19970112       1  12.00
2       2  19970112       5  77.00
3       3  19970102       2  20.76
4       3  19970330       2  20.76

In [6]:
data.isnull()

       Person   date  number  price
0       False  False   False  False
1       False  False   False  False
2       False  False   False  False
3       False  False   False  False
4       False  False   False  False
5       False  False   False  False
6       False  False   False  False
7       False  False   False  False
8       False  False   False  False
9       False  False   False  False
10      False  False   False  False
11      False  False   False  False
12      False  False   False  False
13      False  False   False  False
14      False  False   False  False
15      False  False   False  False
16      False  False   False  False
17      False  False   False  False
18      False  False   False  False
19      False  False   False  False
20      False  False   False  False
21      False  False   False  False
22      False  False   False  False
23      False  False   False  False
24      False  False   False  False
25      False  False   False  False
26      False  False   False  False
27      False  False   False  False
28      False  False   False  False
29      False  False   False  False
...       ...    ...     ...    ...
69629   False  False   False  False
69630   False  False   False  False
69631   False  False   False  False
69632   False  False   False  False
69633   False  False   False  False
69634   False  False   False  False
69635   False  False   False  False
69636   False  False   False  False
69637   False  False   False  False
69638   False  False   False  False
69639   False  False   False  False
69640   False  False   False  False
69641   False  False   False  False
69642   False  False   False  False
69643   False  False   False  False
69644   False  False   False  False
69645   False  False   False  False
69646   False  False   False  False
69647   False  False   False  False
69648   False  False   False  False
69649   False  False   False  False
69650   False  False   False  False
69651   False  False   False  False
69652   False  False   False  False
69653   False  False   False  False
69654   False  False   False  False
69655   False  False   False  False
69656   False  False   False  False
69657   False  False   False  False
69658   False  False   False  False

[69659 rows x 4 columns]

In [8]:
data["pct"]=data["price"]/data["number"]
data

       Person      date  number   price        pct
0           1  19970101       1   11.77  11.770000
1           2  19970112       1   12.00  12.000000
2           2  19970112       5   77.00  15.400000
3           3  19970102       2   20.76  10.380000
4           3  19970330       2   20.76  10.380000
5           3  19970402       2   19.54   9.770000
6           3  19971115       5   57.45  11.490000
7           3  19971125       4   20.96   5.240000
8           3  19980528       1   16.99  16.990000
9           4  19970101       2   29.33  14.665000
10          4  19970118       2   29.73  14.865000
11          4  19970802       1   14.96  14.960000
12          4  19971212       2   26.48  13.240000
13          5  19970101       2   29.33  14.665000
14          5  19970114       1   13.97  13.970000
15          5  19970204       3   38.90  12.966667
16          5  19970411       3   45.55  15.183333
17          5  19970531       3   38.71  12.903333
18          5  19970616       2   26.14  13.070000
19          5  19970722       2   28.14  14.070000
20          5  19970915       3   40.47  13.490000
21          5  19971208       4   46.46  11.615000
22          5  19971212       3   40.47  13.490000
23          5  19980103       3   37.47  12.490000
24          6  19970101       1   20.99  20.990000
25          7  19970101       2   28.74  14.370000
26          7  19971011       7   97.43  13.918571
27          7  19980322       9  138.50  15.388889
28          8  19970101       1    9.77   9.770000
29          8  19970213       1   13.97  13.970000
...       ...       ...     ...     ...        ...
69629   23556  19970927       3   31.47  10.490000
69630   23556  19980103       2   28.98  14.490000
69631   23556  19980607       2   28.98  14.490000
69632   23557  19970325       1   14.37  14.370000
69633   23558  19970325       2   28.13  14.065000
69634   23558  19970518       3   45.51  15.170000
69635   23558  19970624       2   23.74  11.870000
69636   23558  19980225       4   48.22  12.055000
69637   23559  19970325       2   23.54  11.770000
69638   23559  19970518       3   35.31  11.770000
69639   23559  19970627       3   52.80  17.600000
69640   23560  19970325       1   18.36  18.360000
69641   23561  19970325       2   30.92  15.460000
69642   23561  19980128       1   15.49  15.490000
69643   23561  19980529       3   37.05  12.350000
69644   23562  19970325       2   29.33  14.665000
69645   23563  19970325       1   10.77  10.770000
69646   23563  19971004       2   47.98  23.990000
69647   23564  19970325       1   11.77  11.770000
69648   23564  19970521       1   11.77  11.770000
69649   23564  19971130       3   46.47  15.490000
69650   23565  19970325       1   11.77  11.770000
69651   23566  19970325       2   36.00  18.000000
69652   23567  19970325       1   20.97  20.970000
69653   23568  19970325       1   22.97  22.970000
69654   23568  19970405       4   83.74  20.935000
69655   23568  19970422       1   14.99  14.990000
69656   23569  19970325       2   25.74  12.870000
69657   23570  19970325       3   51.12  17.040000
69658   23570  19970326       2   42.96  21.480000

[69659 rows x 5 columns]

In [10]:
#异常值
data.pct.describe()

count    69659.000000
mean        15.459447
std          8.735528
min          0.000000
25%         12.270000
50%         13.990000
75%         15.490000
max        305.990000
Name: pct, dtype: float64

In [12]:
col=data.pct
col[np.abs(col)>100]

404      248.490000
502      146.490000
1425     159.370000
3400     283.970000
3439     155.370000
4094     283.970000
5198     174.990000
6300     122.770000
7150     268.320000
7412     156.370000
8208     118.990000
8444     167.570000
8446     177.370000
8738     199.990000
10813    121.770000
13489    149.990000
15797    118.990000
19330    118.900000
20114    109.990000
20294    208.770000
21264    127.700000
22400    127.700000
23040    146.770000
23042    146.770000
24547    162.990000
25236    183.490000
29139    253.970000
29140    124.620000
30177    104.786667
31129    103.990000
            ...
46796    103.990000
48178    122.370000
52189    159.490000
52190    159.490000
52241    138.990000
53587    103.990000
56123    224.990000
56994    143.990000
57170    103.990000
57489    139.490000
57490    139.490000
57536    305.990000
58037    136.770000
58063    134.490000
60335    103.990000
60462    138.770000
60488    283.970000
60898    137.990000
60963    103.990000
61759    166.990000
61760    166.990000
61939    122.370000
62278    107.380000
62496    132.970000
63249    111.170000
65571    149.990000
66229    103.990000
66837    219.490000
67566    121.370000
69209    122.770000
Name: pct, Length: 80, dtype: float64